{% extends "mainfolder/base.html" %}
{% load static %}

{% block body %}

<script type="text/javascript">
    function checkpass() {
        const newPassword = document.changepassword.newpassword.value;
        const confirmPassword = document.changepassword.confirmpassword.value;
        if (newPassword !== confirmPassword) {
            alert('New Password and Confirm Password field do not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>
<section class="bg-light" style="padding:85px 10px 20px; margin-top:80px">
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="p-2 text-danger border-bottom border-2 border-warning">Change Password</h5>
            <form method="POST" name="changepassword" onsubmit="return checkpass();">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Current Password</label>
                        <input type="password" name="oldpassword" id="currentpassword" placeholder="Enter Current Password" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">New Password</label>
                        <input type="password" name="newpassword" placeholder="Enter New Password" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Confirm New Password</label>
                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Enter New Password Again" class="form-control" required>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary px-4 mt-3">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}
